body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
}
a:link{
    color: #f00;
}
a:visited{
    color: #fc0;
}
a:hover{
    background-color: #3cf;
    color: #03f;
}
a:active{
    color: #f3f;
}
.logo{
    font-size: 36px;
}

#navlist li{
    display: inline;
    list-style-type: circle;
    padding-right: 20px;
    border-left: #000 1px solid;
    line-height: 1.1em;
    margin: 0.5em 0-.5em;
    padding: 0.5em 0.5em;
}

.box{
    margin: 10px;
    padding: 10px;
    background-color: #666;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    clear: both;
}

.nav{
    margin: 10px;
    padding: 10px;
    background-color: #999;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    clear: both;
}
.left {
    width:20%;
    margin:10px;
    padding:10px;
    background-color:#CCC;
    border-width:1px;
    border-color:black;
    border-style:solid;
    float:left;
    }
.centre {
    width:47%;
    margin:10px;
    padding:10px;
    background-color:#CCC;
    border-width:1px;
    border-color:black;
    border-style:solid;
    float:left;
    }
.right {
    width:20%;
    margin:10px;
    padding:10px;
    background-color:#CCC;
    border-width:1px;
    border-color:black;
    border-style:solid;
    float:right;
    }
    
.lower_nav{
    margin:10px;
    padding:10px;
    background-color:#999;
    border-width:1px;
    border-color:black;
    border-style: solid;
    clear: both;
    }

.legal {
        margin:10px;
        padding:10px;
        background-color:#999;
        border-width:1px;
        border-color:black;
        border-style:solid;
        float:none;
        clear: both;
    }

.deadnav{
    color: #fff;
    background-color: #3cf;
}